<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>About Yan-Sheng Kuo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
	<link rel="icon" type="image/x-icon" href="images/LOGO/favicon.png">

	<!-- Bootstrap CSS-->
	<!-- <link rel="stylesheet" href="CSS/bootstrap.css"> -->
	<link rel="stylesheet" href="CSS/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="CSS/bootstrap-grid.css">
	<!-- Font-awesome -->
	<!-- <link rel="stylesheet" href="CSS/all.min.css"> -->
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="CSS/base.css">
	<link rel="stylesheet" href="CSS/jquery.fancybox.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="CSS/component.css">
</head>
<body>
	<div class="wrapper">

		<!-- Start bg -->
		<!-- End bg -->

		<!-- Start header -->
		<header>
			<div class="container">
				<!-- Collect the nav links -->
				<div class="navbar detail__header navbar-collapse">
					<!-- LOGO -->
					<a href="index.html" class="navbar__logo"></a>

					<a href="index.html" class="close">
						<span></span>
						<span></span>
					</a>
				</div>
			</div>
		</header>
		<!-- End header -->

		<!-- Start main -->
		<section>
			<!-- Start about -->
			<div id="about" class="about about__content bg-covered">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 offset-md-1">
							<div class="img-container">
								<img class="image" src="static/cat.jpeg" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="info">
								<h3 class="about__title">Hey, I'm Yan-Sheng Kuo</h3>
								<h4 class="about__subtitle">Product Designer</h4>
								<div class="about__description about__text">
									I graduated from 
									<strong>National Taiwan University</strong>.<br><br>In an attempt to creating the best relationship between users and products, I keep pursuing design techniques and knowledge about user experience & interface.<br><br>
									In my freetime, I like to travel, take photos, watch movies, and work out.<br><br>
									Please feel free to contact me by 
									<a href="mailto:crowley3141@hotmail.com">Email</a>
									.
								</div>
								<a class="btn btn-primary" href="YanshengKuo_Resume.pdf" target="_blank" role="button">View My Resume</a>
							</div>
						</div>
					</div>
				</div>				
			</div>

			<div class="divider">
				<div class="dot1"></div>
				<div class="dot2"></div>
				<div class="dot3"></div>
			</div>
			
				
			<div id="" class="about bg-covered">
				<h3 class="project__headline text-uppercase text-center color-secondary">other works</h3>
				<p class="text-center">Click the images to view full size</p>

				<div class="container">
					<!-- The Architecture on Water Trilogy -->
					<div class="row">
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/DSC05668.jpg" title="Kız Kulesi - İstanbul - Turkey">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/DSC05668_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/DSC03307.jpg" title="Itsukushima Shinto Shrine - Hiroshima - Japan">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/DSC03307_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/DSC08799.jpg" title="Sveti Ivan na Pucini - Rovinj - Croatia">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/DSC08799_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!-- Knot Watch -->
					<div class="row marginTop30">
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/DSC09669.jpg" title="Knot">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/DSC09669_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/Knot.png" title="Knot_Icon">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/Knot_thumbnail.png);"></div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/DSC09664.jpg" title="Knot">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/DSC09664_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!-- Frame in Frame -->
					<div class="row marginTop30 marginBottom30">
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/12.jpg" title="Frame in Frame - Alien">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/12_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/80630016.jpg" title="Frame in Frame - Cat">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/80630016_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="img-container">
								<a class="fancybox" rel="gallery1" href="images/about/expired_superia_21.jpg" title="Frame in Frame - Girl">
									<div class="imgbox__inner imgbox__inner--4-3">
										<div class="image" style="background-image: url(images/about/thumbnail/expired_superia_21_thumbnail.jpg);"></div>
									</div>
								</a>
							</div>
						</div>
					</div>
					<!--  -->
				</div>
			</div>

				
		</section>
		<!-- End main -->

		<!-- Start footer -->
		<footer>
			<div class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-12 social">
							<ul class="list-line footer__icon-group">
								<li>
									<a href="http://www.linkedin.com/in/yanshengkuo" target="_blank" class="icon-btn">
										<i class="icon icon-linkin"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/arsene_alibi/" target="_blank" class="icon-btn">
										<i class="icon icon-ig"></i>
									</a>
								</li>
								<li>
									<a href="mailto:crowley3141@hotmail.com" class="icon-btn">
										<i class="icon icon-mail"></i>
									</a>
								</li>
								<li>
									<a href="https://www.youtube.com/channel/UCNF2yMOSIcILpJAUNNKGM3w?view_as=subscriber" target="_blank" class="icon-btn">
										<i class="icon icon-youtube"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="copyright text-center">Copyright @ Yan-Sheng Kuo 2019-2020</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End footer -->

	</div>






	<!-- JS -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Fancybox -->
	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script src="js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox();
	});
</script>
</body>
</html>