private_info/

100-Days-of-Code/Birthday Wisher (Day 32) start/private_info.py
100-Days-of-Code/Birthday Wisher (Day 32) start/__pycache__

100-Days-of-Code/birthday-wisher-extrahard-start/birthdays.csv
100-Days-of-Code/birthday-wisher-extrahard-start/private_info.py
100-Days-of-Code/birthday-wisher-extrahard-start/__pycache__

100-Days-of-Code/rain_alert/private_info.py
100-Days-of-Code/rain_alert/__pycache__


